footer{
    background-color: #0071c2;
    height: 150px;
    width: 100%;
    display: grid;
    grid-template-columns: auto  60px auto auto auto auto auto;
    column-gap: 2px;
}

#licenca{
    color: white;
    padding-left: 10px;
   
}
.boja{
    color: white;
    text-decoration: none;
}
.pozadinskabojaslika{
    background-color: #0071c2;
    border: #0071c2;
}