footer{
    background-color: #0071c2;
    height: 170px;
    width: 100%;
    display: grid;
    grid-template-columns: auto  60px auto auto auto auto auto;
    column-gap: 2px;
    
}

#licenca{
    color: white;
    padding-left: 20px;
    font-size: 17px;
    
   
}
.boja{
    color: white;
    text-decoration: none;
    font-size: 17px;
}
.pozadinskabojaslike{
    background-color: #0071c2;
    border: #0071c2;
    margin-left: 10px;
}
.slike{
    background-color: #0071c2;
    border: #0071c2;
}
body{
    margin: 0;
}