/* Prvi dio header-a */
header{
    height: 135px;
    background-color: #0071c2;
    width: 100%;
}

.grid{
    display: grid;
    grid-template-columns: 290px  auto auto;
}
.buttonsvi{
    background-color: #0071c2;
    border: #0071c2;
    font-size: 25px;
    height: 30px;
    padding-top: 10px;
    color: white;
  
}
.linkovi{
    text-decoration: none;
    color: white;
}
#logo{
    padding-left: 340px;
}
#cikica{
    padding-top: 5px;
    margin-left: 310px;
    padding-top: 10px;
}
#login{
    padding-top: 10px;
}
#registracija
{
   padding-left: 50px;
   padding-top: 10px;
}

.linija1{
    width:620px;
    background-color: white;
    height: 2px;
  
    
   
}
.linija2{
    width:620px;
    background-color: white;
    height: 2px;
   
    
   
}
/* Drugi dio header-a */

#glavnidiv{
    margin-top: -20px;
}
#glavnalista{
    display: inline-flex;
    list-style-type: none;
   
}

.pomocneliste{
    list-style-type: none;
}
.pomocnidiv{
    display: none;
}
#glavnidiv ul li:hover .pomocnidiv{
    display: block;
    position: absolute;
    background-color: #0071c2;
    text-align: left;  
}
#glavnidiv ul li:hover .pomocnidiv ul{
    display: block;
    margin-top: 10px;
    margin-left: -20px;
}

#glavnidiv ul li:hover .pomocnidiv ul li{
   width: 200px;
   padding: 5px;
   border-bottom: 1px solid white;
   background: transparent;
   border-radius: 0;
   text-align: left;
}
.linkovi1{
    text-decoration: none;
    color: white;
    font-size: 28px;
    padding-left: 22px;
}
.linkovi2{
    text-decoration: none;
    color: white;
    font-size: 28px;
}
#linkovi3{
    text-decoration: none;
    color: white;
    font-size: 24px;
   
}


.ka{
    margin-left: -35px;
}
.bojenje{
    height: 30px;
    width: fit-content;
    

}
#bojenje:hover{
    background-color: white;
    
    
}
#bojenje:hover #linkovi3{
    color: #0071c2;
    
}

/*Login*/
#cijelilogin{
    width: 100%;
    height: 124%;
    background-color: rgba(0, 0, 0,0.7);
    
    top:0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    
   
}
#prozorlogin{
    width: 320px;
    height: 300px;
    background-color: white;
    opacity: 1;
    text-align: center;
    padding: 20px;
    position: relative;

}
#unos1,#unos2,#submitlogin{

    display: block;
    margin: 5px auto;
    width: 250px;
    height: 40px;
    border: 2px solid grey;
    border-radius: 30px;
    font-size: 17px;
    padding-left: 20px;
  
}


#closelogin{
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

#submitlogin{

   
    background-color:  #0071c2;
    color: white;
    font-size: 20px;
    width: 275px;
    border: 2px solid #0071c2;
    padding-left: -5px;
  
}
#naslovsaprozora{
    color: #0071c2;
    font-size: 40px;
}
#textlabele{
    color: #0071c2;
    text-decoration: none;
    font-size: 18px;
}

/*Registracija*/
#cijelaregistracija{
    width: 100%;
    height: 124%;
    background-color: rgba(0, 0, 0,0.7); 
    top:0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none; 
}
#prozorregistracija{
    width: 320px;
    height: 410px;
    background-color: white;
    opacity: 1;
    text-align: center;
    padding: 20px;
    position: relative;

}
#ime,#prezime,#email,#lozinka,#brojtel,#submitregistracija{

    display: block;
    margin: 7px auto;
    width: 250px;
    height: 40px;
    border: 2px solid grey;
    border-radius: 30px;
    font-size: 17px;
    padding-left: 20px;
  
}


#closeregistracija{
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

#submitregistracija{   
    background-color:  #0071c2;
    color: white;
    font-size: 20px;
    width: 275px;
    border: 2px solid #0071c2;
    text-align: center;
    padding-left: -5px;
  
}


body{
    margin: 0;
}