#naslov{
    color: #0071c2;
    text-align: center;
    font-size: 53px;
}
#naslovi{
        padding-top: 10px;
        color: #0071c2;
        text-align: center;
        font-size: 40px; 
}
.still{
 
    background-color:  #d9e7fc;
}
.paragrafi{
        color: #0071c2;
        font-size: 30px; 
        padding-left: 170px;
}
.paragraf{
    color: #0071c2;
    font-size: 30px; 
    text-align: center;
}


.blok{
    display: grid;
    grid-template-columns: auto auto auto;
}
.okvir{
    border:4px solid white
}
body{
    margin: 0;
}