#pozadina{
    top:0;
    background-image: url("image/soba-za-sastanke.jpg");
    background-size: 100% 590px;
    width: 100%;
    height: 590px;
    display: grid;
    grid-template-columns: 1300px  auto;
  
}
.uvod{
    background-color: #0071c2;
    margin-bottom: auto;
    margin-left: 200px;
    margin-top: 200px;
    opacity: 80%;
    color: white;
}
#title{
    color: white;
    text-align: center;
    font-size: 38px;
    background-color: #0071c2;
   
}
#par{
    font-size: 26px;
    text-align: center;
}

#pozadina2{
    top:0;
    background-image: url("image/soba-za-sastanke1.jpg");
    background-size: 100% 590px;
    width: 100%;
    height: 590px;
    display: grid;
    grid-template-columns: 1300px  auto;
  
}
.uvod2{
    background-color: #0071c2;
    margin-bottom: auto;
    margin-left: 200px;
    margin-top: 200px;
    opacity: 80%;
    color: white;
}
#title2{
    color: white;
    text-align: center;
    font-size: 38px;
    background-color: #0071c2;
   
}
#par2{
    font-size: 26px;
    text-align: center;
}



