#naslov{
    color: #0071c2;
    text-align: center;
    font-size: 50px;
}

.still{
 
    background-color:  #d9e7fc;
}
.paragrafi{
        color: #0071c2;
        font-size: 30px; 
        padding-left: 170px;
}
.paragraf{
    color: #0071c2;
    font-size: 26px; 
    text-align: center;
}